.gradle/
.kotlin/
app/build/
build/
local.properties
*.iml
.idea/
logs/
*.apk

# Release keystore
keystore/
app/src/main/assets/oauth_config.json
keystore.properties
.workspaces/
.tmp/
client_secret_*.json
*.jks
*.keystore
